<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208377460917-gc5bbug9bvkihln51u9v8avhjbilpjdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208377460917-gc5bbug9bvkihln51u9v8avhjbilpjdo</string>
	<key>API_KEY</key>
	<string>AIzaSyANIwjeLXH-rcsrEIrdBTHTNOjQCbbbYj0</string>
	<key>GCM_SENDER_ID</key>
	<string>208377460917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.dasom8899981.FireCB</string>
	<key>PROJECT_ID</key>
	<string>firecb-4f9d1</string>
	<key>STORAGE_BUCKET</key>
	<string>firecb-4f9d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208377460917:ios:273cdfbc4e13b83b51e6fc</string>
</dict>
</plist>